/* basic styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* home page styling */
.app {
  min-height: 100vh;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* individual product styling */
.item {
  border: solid black 2px;
  margin: 2rem 0rem;
  text-align: center;
  height: 380px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item h3 {
  margin-top: 1.2rem;
  text-decoration: none;
}

.item h4 {
  font-size: 1.8rem;
}

.item-img {
  height: 50%;
  width: 60%;
}

.add-cart {
  background: rgb(58, 95, 175);
  color: white;
  width: 100%;
  padding: 1rem 0rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  cursor: pointer;
}

/* Nav bar styling */

.heading {
  min-height: 10vh;
  background: rgb(5, 61, 114);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}

.heading-title {
  flex: 10 1 30rem;
  padding-left: 5rem;
  font-size: 2rem;
  cursor: pointer;
}

.heading-image {
  flex: 1 1 30rem;
  padding: 1rem 4rem;
  cursor: pointer;
}

/* styling the items in the cart */
.cart {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.cart-item {
  min-height: 100px;
  width: 100%;
  border: solid black 1px;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item h3 {
  font-size: 1.4rem;
}

.cart-img {
  height: 50px;
  width: 50px;
  margin-left: 1rem;
}

.cart-price {
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

/* styling the div containing total and order button */

.order {
  background: rgb(5, 61, 114);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.order-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-msg h3 {
  margin: 0;
  padding: 1rem 0rem 1rem 0rem;
}

.order-msg p {
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}

.order-btn {
  background: lightgray;
  font-weight: bold;
  border: none;
  padding: 0.9rem 2rem;
  margin: 1.5rem 0rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 10px;
}
